<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name short="MCP">MuizCvApp</name>
    <description>Muiz Farayola Bincom CV App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <!-- adding plugins-->
    <plugin name="cordova-plugin-camera" spec="^6.0.0" />
    <plugin name="cordova-plugin-geolocation" spec="^4.1.0" />
    <!-- allow navigation to linkedIn -->
    <allow-navigation href="http://linkedin.com/*" />
    <!-- allow navigation to twitter -->
    <allow-navigation href="http://twitter.com.com/*" />
    <!-- allow navigation to github -->
    <allow-navigation href="http://github.com/*" />
    <!-- allow app to open on system -->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
</widget>
